@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@supports (font-variation-settings: normal) {
		@font-face {
			font-family: 'Karla';
			font-style: normal;
			src: local('Karla'), url('/fonts/Karla/Karla-VariableFont_wght.ttf');
			font-weight: 100 900;
			font-display: swap;
		}
		@font-face {
			font-family: 'Fira Code';
			font-style: normal;
			src: local('Fira Code'), url('/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf');
			font-weight: 100 900;
			font-display: swap;
		}
	}
}

* {
	box-sizing: border-box;
	min-width: 0;
}

@layer components {
	.center-with-flex {
		@apply flex items-center justify-between;
	}
}

hgroup :is(h1) {
	@apply font-sans;
	font-weight: 700;
	font-size: 2rem;
	margin-bottom: 1rem;
}

hgroup :is(h2) {
	font-weight: 600;
	font-size: 1.6rem;
	margin-bottom: 1rem;
}

.blog-post :is(h2) {
	@apply font-sans;
	font-weight: 700;
	font-size: 1.8rem;
	margin-top: 1.4rem;
	margin-bottom: 0.4rem;
}

.blog-post :is(h3) {
	@apply font-sans;
	font-weight: 700;
	font-size: 1.6rem;
	margin-top: 1.2rem;
	margin-bottom: 0.2rem;
}

.blog-post :is(p),
.blog-post :is(li) {
	@apply font-sans;
	font-size: 1.2rem;
	margin-block: 1.75rem;
	list-style: outside;
}

.blog-post :is(ul) {
	margin-left: 1.5rem;
}

.blog-post :is(img) {
	@apply rounded-md;
	transition: transform 0.5s ease-in-out;
}

.blog-post :is(img):hover {
	transform: scale(1.1);
}

.blog-post :is(pre) {
	@apply rounded-md;
	width: 100%;
	padding: 1.5rem;
	margin-block: 2rem;
	overflow-x: scroll;
}

.blog-post > p :is(code),
.blog-post > ul > * :is(code) {
	@apply rounded-md;
	@apply bg-slate-600;
	@apply font-mono;
	font-size: 1.1rem;
	padding-inline: 0.25rem;
}

.blog-post :is(blockquote) {
	@apply border-l-4 border-slate-600;
	padding-inline: 1rem;
	margin-block: 2rem;
}

.blog-post > blockquote :is(p) {
	@apply font-sans;
	font-size: 1rem;
}

.blog-post :is(a) {
	@apply text-fuchsia-400;
}
